.login-container {
    .header {
        height: 45px;
        text-align: right;
        padding: 5px 100px 0 100px;
        margin-top: 10px;
        align-items: center;

        button {
            border: none;
            padding: 3px 15px;
            margin-left: 15px;
            border-radius: 5px;
            background: white;
            border: 1px solid;

            &:hover {
                background: #eee;
            }
        }

    }

    .title {
        padding: 20px 0;
        font-weight: 600;
        font-size: 30px;
        text-align: center;
    }

    .welcome {
        font-size: 20px;
        padding: 10px 0;
        text-align: center;

    }

    .content-form {
        display: flex;
        flex-direction: column;
        gap: 14px;

        input {
            margin-bottom: 15px 0;
            margin-top: 3px;
        }

        .icon-hideShow {
            display: flex;
            // gap: 3px;

            .hideShow {
                padding-top: 12px;
                margin-left: 3px;
                font-size: 10px;

                &:hover {
                    cursor: pointer;
                    opacity: 0.8;
                }
            }

        }

        .fgot-password {
            opacity: 0.7;
        }

        .btn-submit {
            width: 100%;
            border-radius: 10px;
            height: 40px;
            margin: 15px 0;
            text-align: center;
            justify-content: center;
            background-color: rgb(60, 50, 62);
            color: white;
            font-weight: 500;
            border: none;

            &:hover {
                opacity: 0.7;
            }

        }

        .go-back {
            // border-bottom: 1px solid;
            text-decoration: underline;
            opacity: 0.5;

            &:hover {
                cursor: pointer;
            }
        }
    }
}